@keyframes fade { 0% {
	opacity: 0.7;
}
50%{
opacity:1;
}
    100%{
opacity:0.7;
}
}

.anim-fade {
	animation: fade 2s linear infinite;
}
input[type="text"]:focus { outline: none; }
button:focus { outline: none; }

input {
	border: none;
	text-align: center;
	font-size: 32px;
	background-image: url(../images/card.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent; color : white;
	width: 221px;
	height: 59px;
	color: white;
}

.beige{
	color: #efce7f;
}
body {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-highlight: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}

@font-face {
	font-family: AppFont;
	src: url(../fonts/Junegull.ttf);
}

@font-face {
	font-family: AppFont2;
	src: url(../fonts/8477.ttf);
}
@font-face {
	font-family: AppFont3;
	src: url(../fonts/font3.otf);
}

.font2 {
	font-family: AppFont2;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
	-ms-touch-action: pan-x;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
	-ms-touch-action: pan-y;
	-ms-content-zooming: none;
	cursor: url(../../img/cursor.png), move !important; 
}

/* allow copy-paste */
input, textarea {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

body {
	background-image: null;
	background-color: transparent;
	background-size: auto;
	background-repeat: no-repeat;
	font-family: AppFont;
}

.left-top {
	position: absolute;
	left: 40px;
	top: 40px;
}

.right-top {
	position: absolute;
	right: 40px;
	top: 40px;
}

.right-bottom {
	position: absolute;
	right: 40px;
	bottom: 40px;
}

.left-bottom {
	position: absolute;
	left: 40px;
	bottom: 40px;
}

.container-center {
	text-align: center;
	/*! top: 8%; */
}

.transition-button {
	transition-property: background;
	transition-duration: 2s;
}
.tab{
    color:transparent;
    width:20px;
}
.mbutton {
	cursor: pointer;
	color: #48150a;
	background: url(../images/card_green.png) no-repeat;
	width: 587px;
	height: 129px;
	border: 0;
}
/* .mbutton:hover,active{
	background: url(../images/bg_green2.png) no-repeat;
} */
#container-result {
	display: none;
}

.hidden {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 2s;
}

.button-size {
	text-transform: uppercase;
	font-size: 60px;
	color: #48150a;
	width: 388px;
	height: 112px;
	/*    margin: 10px;*/
	padding: 10px;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.button-size:hover, active {
	font-weight: bolder;
}

.container-select-level {
	position: relative;
	width: 626px;
	margin: 10px auto;
}

.container-select-level a {
	font-size: 50px;
	display: block;
	cursor: pointer;
	width: 626px;
	height: 222px;
	line-height: 240px;
	text-decoration: none;
	margin-bottom: -30px;
	text-align: center;
	color: white;
	background-size: contain;
	background-repeat: no-repeat;
}

.button-1 {
	background-image: url(../images/L1.png);
}

.button-1:hover, active {
	background-image: url(../images/L2.png);
}

.button-2 {
	background-image: url(../images/S1.png);
}

.button-2:hover, active {
	background-image: url(../images/S2.png);
}

.button-3 {
	background-image: url(../images/H1.png);
}

.button-3:hover, active {
	background-image: url(../images/H2.png);
}

h2, h3, h4 {
	color: white;
}

h3 {
	font-size: 36px;
}

.margin-1 {
	margin: 80px !important;
}

.margin-2 {
	margin: 40px !important;
}

.margin-3 {
	margin: 20px !important;
}

.margin-4 {
	margin: 10px !important;
}

.margin-top-bottom {
	margin-top: 80px;
	margin-bottom: 80px;
}

.button-home {
	position: absolute;
	cursor: pointer;
	bottom: 40px;
	left: 40px;
	width: 119px;
	height: 113px;
	background-size: cover;
	background-image: url(../images/home1.png);
	background-repeat: no-repeat;
}

.button-home:hover {
	background-image: url(../images/home2.png);
}

.button-info {
	cursor: pointer;
	width: 111px;
	height: 110px;
	background-size: cover;
	background-image: url(../images/btn_info.png);
	background-repeat: no-repeat;
}

.button-info:hover {
	background-image: url(../images/btn_info2.png);
}
.button-cancel {
	cursor: pointer;
	width: 111px;
	height: 110px;
	background-size: cover;
	background-image: url(../images/modal/exit.png);
	background-repeat: no-repeat;
}

.button-cancel:hover {
	background-image: url(../images/modal/exit2.png);
}

.button-repeat {
	position: absolute;
	cursor: pointer;
	bottom: 40px;
	right: 40px;
	width: 119px;
	height: 113px;
	background-size: cover;
	background-image: url(../images/repeat1.png);
	background-repeat: no-repeat;
}

.button-repeat:hover {
	background-image: url(../images/repeat2.png);
}

.button-next {
	position: absolute;
	cursor: pointer;
	bottom: 0;
	right: 0;
	width: 85px;
	height: 87px;
	margin: 60px;
	background-image: url(../images/next2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	border: 0;
}

.button-next:hover {
	background-image: url(../images/next1.png);
}

#counter {
	position: absolute;
	top: 40px;
	right: 40px;
	width: 144px;
	height: 144px;
	line-height: 144px;
	text-align: center;
	color: #48150a;
	font-family: AppFont2;
	background-image: url(../images/bg_column.png);
	background-repeat: no-repeat;
}

.question {
	margin: 20px auto;
	padding: 45px;
	width: 685px;
	height: 241px;
	color: #48150a;
	background-image: url(../images/bg_quest.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-size: 20px;
	line-height: 1.8em;
	font-family: AppFont2;
	/*! margin-left:  auto; */
	/*! margin-right: auto; */
	/*! margin-top: -68px; */
}

/*
#question-description {
	margin-left: auto;
	margin-right: auto;
	margin-top: -68px;
}
*/

.btn-play {
	cursor: pointer;
	background-repeat: no-repeat;
	width: 618px;
	color: #48150a;
	line-height: 187px;
	height: 187px;
	font-size: 50px;
	background-size: contain;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	background-image: url("../images/play1.png");
}

.btn-play:hover, active {
	background-image: url("../images/play2.png");
}

.font-regular {
	color: white;
	font-weight: bolder;
}

.font-size-high {
	font-size: 26px;
}

.button-check {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 40px auto;
	cursor: pointer;
	width: 111px;
	height: 110px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/check1.png);
	background-repeat: no-repeat;
}

.button-check:hover, active {
	background-image: url(../images/check2.png);
}

.button-reset {
	position: absolute;
	cursor: pointer;
	background-size: cover;
	width: 111px;
	height: 110px;
    background-position: center;
	background-image: url(../images/reset1.png);
	background-repeat: no-repeat;
}

.button-reset:hover, active {
	background-image: url(../images/reset2.png);
}
/*MODAL*/
.modal-header {
	color: white;
	text-align: center;
	background: green;
}

.modal-bg {
	width: 600px;
	height: 431px;
	background-image: url(../images/modal/ne-pravilno.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.container-btns {
	width: 1280px;
	position: relative;
	margin: 25% auto;
	padding-left: 4%;
}

.container-btns a {
	cursor: pointer;
	margin-right: -10px;
	margin-left: -10px;
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	width: 354px;
	height: 99px;
	line-height: 99px;
	font-family: AppFont2;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
}

.button-4 {
	background-image: url(../images/modal/btn_p1.png);
}

.button-4:hover, active {
	background-image: url(../images/modal/btn_p2.png);
}

.button-5 {
	background-image: url(../images/modal/btn_l1.png);
}

.button-5:hover, active {
	background-image: url(../images/modal/btn_l2.png);
}

.button-6 {
	background-image: url(../images/modal/btn_s1.png);
}

.button-6:hover, active {
	background-image: url(../images/modal/btn_s2.png);
}

.ok {
	position: absolute;
	bottom: 1%;
	width: 70px;
	height: 70px;
	cursor: pointer;
	left: 44.5%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/modal/ok1.png);
}

.ok:hover, active {
	background-image: url(../images/modal/ok2.png);
}

.modal-title {
	text-align: center;
	padding: 24px;
	color: #48150a;
}

.text-helper {
	position: relative;
	width:100%;
	font-size: 18px;
	font-family: AppFont2;
	text-align: center;
	color: #efce7f;
	height: 190px;
	line-height: 1.5em;
	padding: 10px 120px 0 120px;
}

.title1 {
	position: relative;
	margin: 20px auto;
	background-image: url(../images/bg_title.png);
	background-size: contain;
	background-repeat: no-repeat;
	padding: 24px;
	font-size: 30px; text-align : center;
	width: 587px;
	height: 143px;
	color: white;
	text-align: center;
}
.title2 {
	position: relative;
	margin: 20px auto;
	background-image: url(../images/bg_title2.png);
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 36px; 
    text-align : center;
		width: 484px;
	height: 83px;
	line-height: 83px;
	color: white;
	text-align: center;
}
/*MODAL RESULT*/
.result-bg{
    margin:0 auto;
    width: 506px;
    height: 390px;
    background-image: url(../images/modal/bg_result.png);
    background-size: contain;
    background-position:  center bottom;
    background-repeat: no-repeat; 
    text-align: center;
}
.result-bg-2{
    margin:5% auto;
    position:relative;
    padding: 140px;
    text-align: center;
    width: 506px;
    height: 338px;
    background-image: url(../images/modal/bg_result.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
}
#result-value{
    font-size: 60px; color:#efce7f;
}
#result-text{
    font-size: 32px; color:#efce7f;
}
/* .result-bg h2,h3,h4,label{
    color:#efce7f;
} */
.result-title{
    font-family: AppFont2;
    text-align: center;
    margin:50px auto;
    color: #efce7f;
}
/*STAR FOR RESULTS*/
.star-gold{
     background-image: url(../images/star_gold.png);
}
.star-silver{
     background-image: url(../images/star_silver.png);
}
.star-bronze{
     background-image: url(../images/star_bronze.png);
}
.star{
/*    visibility: hidden;*/
    width:50px; height:50px;
/*    background-image: url(../images/star1.png);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 47%;
    bottom: 20px;
}
.container-star{
    position:relative;
}
/* END STAR FOR RESULTS*/

.stars{
    position:relative; text-align:center;
}
.stars img{
    opacity:0;
}
.bigstar{
    margin-left:-20px;
    margin-right:-20px;
    margin-top: -60px;
}

.progress__label {
	position: absolute; 
    bottom:0;
    top:0;
    width: 314px;
    height: 126px;
    line-height:126px;
    text-align: center;
	font-size: 50px;
    z-index: 99999;
	color: #112f34;
	font-family: AppFont2;
}
.progress {
    position: absolute;
    bottom:-15%;
    left:25%;
    background: url(../images/modal/time_shape.png);
    width: 314px;
    height: 126px;
}
.progress__bar {
    position: absolute;
    width: 314px;
    height: 126px;
    background: url(../images/modal/time_blick.png);
}
.modal-info{
	text-align: center;
    padding-top: 20%;
}

.mytable1{
    text-align: center;
    margin: 0 auto;
}
.mytable1 tr{
    height: 90px;
}

.mytable1 .button-check{
    position: relative;
    display:inline-table;
    margin:0;
    padding:0;
	width: 89px;
	height: 80px;
}
.mytable1 td{
    min-width: 100px;
}
.mytable1 label{
    width: 200px;
    color:white;
    font-size: 40px;
}